<ion-header >  
	<ion-toolbar class="igcolr">  
	<ion-row>
		<ion-col>
      <ion-row>
        <ion-col>
			<div class="ion-text-left" >
				<ion-icon  style="color: black;font: bold;font-weight: bold;font-size:25px;"  class="ion-text-left" name="logo-edge"></ion-icon>
			</div>
    </ion-col>
  </ion-row>
		  </ion-col>
		  <ion-col class="ion-text-left">
        <ion-row>
          <ion-col>
			<div class="ion-text-left">
				<ion-label style="color: black;font: bold;font-weight: bold;font-size:20px;">New Task</ion-label>
			</div>
      </ion-col>
    </ion-row>
		  </ion-col>
      <ion-col></ion-col>
		</ion-row> 
	</ion-toolbar>   
  </ion-header>

  
<ion-content class="darkblue">
  <ion-row style="padding-left: 20px;padding-top: 30px;">
    <ion-col>
  <ion-item class="darkblue" style="width: 80%;">
    <ion-label position="stacked" style="font-size: x-large;">What is to be done?</ion-label>
    <ion-input class="placeholder" placeholder="Enter Input" [(ngModel)]="tasks.details"  ></ion-input>
  </ion-item>
</ion-col>
</ion-row>

<ion-row style="padding-left: 20px;padding-top: 30px;">
  <ion-col >
  <ion-item class="darkblue" style="width: 80%;">
    <ion-label position="stacked" style="font-size: x-large;">Due date</ion-label>
    <ion-datetime displayFormat="DD-MM-YY" class="placeholder" placeholder="Select Date Month Year" [(ngModel)]="tasks.due_date" ></ion-datetime>
  </ion-item>
</ion-col>
</ion-row>

<ion-row style="padding-left: 20px;padding-top: 30px;">
  <ion-col >
  <ion-item class="darkblue" style="width: 80%;">
    <ion-label position="stacked" style="font-size: x-large;">Due time</ion-label>
    <ion-datetime displayFormat="hh:mm A" pickerFormat="hh:mm A" id="due_times" class="placeholder" placeholder="Select Time" [(ngModel)]="tasks.due_time" ></ion-datetime>
  </ion-item>
</ion-col>
</ion-row>

<ion-fab  (click)="saveInfo()" vertical="bottom" horizontal="end" slot="fixed">  
  <ion-fab-button class="white">  
    <ion-icon class="blue"  name="checkmark-outline"></ion-icon>  
  </ion-fab-button>  
</ion-fab> 


</ion-content>
