<ion-header >  
	<ion-toolbar class="igcolr">  
	<ion-row>
		<ion-col>
      <ion-row>
        <ion-col>
			<div class="ion-text-left" (click)="homeback()">
				<ion-icon  style="color: black;font: bold;font-weight: bold;font-size:25px;"  class="ion-text-left" name="arrow-back"></ion-icon>
			</div>
    </ion-col>
  </ion-row>
		  </ion-col>
		  <ion-col class="ion-text-left">
        <ion-row>
          <ion-col>
			<div class="ion-text-left">
				<ion-label style="color: black;font: bold;font-weight: bold;font-size:20px;">Settings</ion-label>
			</div>
      </ion-col>
    </ion-row>
		  </ion-col>
      <ion-col></ion-col>
		</ion-row> 
	</ion-toolbar>   
  </ion-header>


<ion-content class="darkblue">
  <div>
    <ion-card>
      <ion-item style="font-size: large;color: black;">
        <ion-label>About</ion-label>   
      </ion-item>
      <ion-card-content>
        Day List is smart task list for everyday use.  Truly usable, splendid in action!
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-item style="font-size: large;color: black;">
        <ion-label>Key features</ion-label>   
      </ion-item>
      <ion-card-content>
        <ion-row>
          User friendly task management
        </ion-row>
        <ion-row>
          Grouping tasks in handy task lists
        </ion-row>
        <ion-row>
         Smart home screen widgets show instantly what to do
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-item style="font-size: large;color: black;">
        <ion-label>Version</ion-label>   
      </ion-item>
      <ion-card-content>
          0.0.2(beta)
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-item style="font-size: large;color: black;">
        <ion-label>Updated on</ion-label>   
      </ion-item>
      <ion-card-content>
          17-09-2021
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>